* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 120px;
  height: 500px;
  /*margin is only possible like this when the width and height are defined */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
}

/*
.location {
    height: 400px;
    width: 50%;
    color: white;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

h2 {
    padding-top: 50px;
}
*/
